[Unit]
Description=Git hook service

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /home/sovietspy2/www/Phaser3GamePublisher/api.py

[Install]
WantedBy=multi-user.target